<table  class="noselect rcorners1 " id="objId<%= id %>" style="left:300;top:300">
    <tr>
        <td style="width:100%;position:relative">
            <label class="noselect" id="castbarlab" style="position: absolute;width:100%;hight:50%;text-align: center;font-size: 0.9em; border: 0; padding: 0; margin: 0;">1</label>
            <table class="UIbagr" id="castbar" style="width:100%;padding-right:50%">
                <tr>
                    <td class="UIStatHpBar" ></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
