<table class="UIEditorList ui-draggable ui-draggable-handle">
    <thead>
        <tr>
            <td>
                <div>
                  <ul class="nav nav-pills nav-stacked UIEditorItemList" style="overflow:scroll;height:180px;width:200px;top: 0px;overflow:auto">

                  </ul>
                </div>
            </td>
            <td>
                <div class="UIEditorItemField">
                
                </div>
            </td>
        </tr>
    </tbody>  
</table>


