<table class="table key-value-table">
    <thead>
    
    <tr>
        <th>
            <button class="btn-submit-comp" id="comsave<%= id %>">Save</button>
        </th>
        <th><%= id  %></th>
    </tr>
    <tr>
        <th> <%= keyval["compName"] %> </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for(var i in keyval["entries"]) { %>
    <% if ('list' in keyval["entries"]) { %>
    
        
        <% for (var j in keyval["entries"].list.values) { %>
        <tr>
        <td class="filterable-cell">
        <p><%= keyval["entries"].list.values[j] %></p>
        
        </td>
        <td class="filterable-cell">
        <button type="button" id="remove_power_<%= j %>">Remove</button>
        </td>
        </tr>
        <% } %>
    
        
    <%  } else { %>
        <tr>
            <td class="filterable-cell"><%= i %></td>
            <td class="filterable-cell">
                <textarea class="mytextarea" id="comfield<%= i + id  %>" type="text"><%= keyval["entries"][i].value %></textarea>
            </td>

        </tr>
    <% }} %>
    </tbody>  
</table>
