<table class="ListEditorAll">
    <tr>
        <td>
            <table class="ListEditorMenu">
                <tr>
                    <td colspan="2">
                        <select multiple id="list">

                        </select>  
                    </td>
                </tr>
                <tr>
                    <td><button id="add" width="50%">Add</button></td>
                    <td><button id="remove" width="50%">Remove</button></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="save" width="50%">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
        <td class="AddList">

        </td>
    </tr>
</table>

